@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Poppins, sans-serif;
  color: #4a4947;
}
html,
body {
  width: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: #faf7f0;
  position: relative;
}
#index {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}
nav {
  width: 54rem;
  height: 3.5rem;
  margin: auto;
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: end;
  justify-content: space-between;
  padding: 1.5rem;
  color: rgb(0, 0, 0);
}
nav h1 {
  font-weight: normal;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: black;
}
.center {
  margin: 0rem 1rem 0rem 1rem;
  width: 24rem;
  height: 31.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.center img {
  width: 22rem;
  height: 29.5rem;
  background-color: #d8d2c2;
  border-radius: 0.5rem;
  object-fit: contain;
  padding-top: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lefttp {
  width: 14rem;
  height: 16.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.lefttp img {
  width: 12rem;
  height: 8rem;
  object-fit: contain;
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #d8d2c2;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
}
.lefttp button {
  margin-top: 11.2rem;
  position: absolute;
  padding: 1rem;
  border: none;
  font-weight: bolder;
  background: rgba(177, 116, 87, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  width: 10rem;
}

.leftBtm {
  margin-top: 1rem;
  width: 14rem;
  height: 14rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftBtm ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftBtm ul li img {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.5rem;
}
.leftBtm h1 {
  padding: 1.5rem;
  font-weight: 600;
}
.leftBtm h6 {
  line-height: 1rem;
  font-size: 0.5rem;
}
.leftBtm div {
  width: 13rem;
  height: 12rem;
  background-color: #d8d2c2;
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.right {
  width: 14rem;
  height: 31.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.right div img {
  width: 12rem;
  height: 12rem;
  background-color: #d8d2c2;
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  object-fit: contain;
  padding-top: 1rem;
}
.right button {
  width: 10rem;
  bottom: 2rem;
  padding: 1rem;
  border: none;
  font-weight: bolder;
  background: rgba(177, 116, 87, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  margin: 2rem;
}
.rightHeading {
  padding: 1rem;
  font-size: 0.9rem;
}
.rightHeading :nth-child(2) {
  font-weight: 600;
}
.rightHeading ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.7rem;
  padding: 1.5rem 0rem 1.5rem 0rem;
}
.rightHeading ul li {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(177, 116, 87, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightHeading i {
  font-size: 1.5rem;
  font-weight: lighter;
}
#projectHead {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  font-weight: normal;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro {
  width: 54.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 26.3rem 26.3rem;
  grid-template-rows: 27rem 27rem 27rem;
  justify-content: center;
  gap: 1rem;
}
.innerPro {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: first baseline;
}
.proImg {
  width: 24.3rem;
  height: 15rem;

  cursor: pointer;
  margin: 1rem 0rem 0.6rem 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proImg img {
  width: 24rem;
  padding-bottom: 1.4 rem;
}
.inner {
  width: 22rem;
  object-fit: contain;
  object-position: center;
  opacity: 0.8;
  transition: transform 0.3s ease;
}

.skillImg {
  width: 3rem;
  height: 1.5rem;
  background-color: #d8d2c2;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  margin: 0.6rem 0.5rem;
}
.innerPro h1 {
  font-weight: 400;
  padding-left: 0.5rem;
}
.innerPro :nth-child(3) {
  margin-top: 0.5rem;
  font-weight: 500;
  padding-left: 0.5rem;
}
.innerPro i {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  gap: 0.3rem;
  cursor: pointer;
  padding-left: 0.5rem;
}

.innerPro i h5 {
  font-weight: 500;
}
.skillImg img {
  width: 1rem;
  height: 1rem;
}
.Services {
  width: 55rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 17rem 17rem 17rem;
  grid-template-rows: 17rem;
  justify-content: center;
  gap: 1rem;
}
.ServicesInner {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ServicesInner div {
  width: 15rem;
  height: 15rem;
  border-radius: 0.5rem;
  background-color: #d8d2c2;
  padding: 4rem 0rem 1.5rem 1.3rem;
  position: relative;
}
.ServicesInner div i {
  font-size: 2.8rem;
  position: absolute;
  padding-bottom: 2rem;
}
.ServicesInner div h3 {
  padding-top: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
}
.ServicesInner div h5 {
  padding: 0.5rem 1rem 0rem 0rem;
  font-weight: 600;
  font-size: 0.7rem;
}
.sircle {
  width: 3rem;
  height: 3rem;
  list-style: none;
  border-radius: 50%;
  margin: -1rem 0rem 1.3rem 1.3rem;
  background: rgba(177, 116, 87, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
#service {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  font-family: Poppins, sans-serif;
  font-weight: normal;
}
#work {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  font-family: Poppins, sans-serif;
  font-weight: normal;
}

.experienceOrWorkinner {
  width: 54rem;
  height: 10rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}
.experienceOrWork :nth-last-child(2) {
  margin: 1rem 0rem 1rem 0rem;
}
.exp {
  width: 27rem;
  border-radius: 1rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work {
  width: 33rem;
  height: 10rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.work div {
  width: 27.7rem;
  height: 8rem;
  border-radius: 0.5rem;
  background-color: #d8d2c2;
  padding: 1rem;
}
.work h3 {
  /* font-weight: 100; */
  margin-top: -0.5rem;
  margin-bottom: -1rem;
  font-weight: 600;
}
.work h4 {
  margin-bottom: -2rem;
  font-weight: 500;
}
.work h5 {
  /* margin-top: -0.5rem; */
  font-weight: 500;
}
h1 {
  font-weight: bolder;
  font-size: 1.7rem;
}
.about {
  width: 54rem;
  height: 29rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  font-weight: normal;
}
form {
  padding: 2.5rem;
  max-width: 35rem;
}

.feedback-input {
  color: #4a4947;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 1rem;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #4a4947;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #4a4947;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  border-radius: 1rem;
  background: rgba(177, 116, 87, 0.2);
  border: 0;
  cursor: pointer;
  font-size: 24px;
  color: #4a4947;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 600;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  width: 54rem;
  height: 10rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1rem 0rem 1rem 0rem;
  /* display: flex; */
  padding: 1rem 0rem 0rem 1.5rem;
}
.footer ul li {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(177, 116, 87, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h1 {
  font-size: 2rem;
}
.footer ul {
  margin-right: 1rem;
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 0.7rem;
  padding: 1.5rem 0rem 1.5rem 0rem;
}
.footer i {
  font-size: 1.5rem;
  font-weight: lighter;
}
.toparrow {
  width: 2rem;
  height: 2rem;
  position: absolute;
  background: rgba(177, 116, 87, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  right: 4rem;
  color: #4a4947;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  cursor: pointer;
}
